
<nav class="navbar navbar-expand-lg navbar-light" id="navbar">

   <div class="container-sm">

     <i class="bi bi-justify-left" id="sideicon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"></i>
   
    <form class="d-flex position-absolute mx-5" >
         <button  style="border: none;background-color: white;" class="bi bi-search mx-3 my-1"  id="searchicon"></button>
         <input class="form-control me-2 overflow-visible" id="search" style="border:none;width: auto;" type="search"  placeholder="Search transactions,invoices or help" aria-label="Search">
    </form>

    <div class="d-inline-flex" id="sidebar">

    
        <i class="bi bi-bell" style="font-size :20px;"></i>
        <span id="green-dot"></span>
  
         
     


       <div id="drop1">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            John Doe
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </div>
       
          
       <img id="profile-img" src="https://uc535bc8523b7c62fffb55c77084.previews.dropboxusercontent.com/p/thumb/ABvCXSseDK9cnyR3ZdxTgItHU5nMBp2Mdamv4hezJdjlKUA-NiPEytXmfvEROwdAIZBlcju8JOFPjCOQAnZLK5lbanSEs2jUnighZhbg64lwGvNottnjj8oN7SiCeaGZrXQ76gSpf6jOcsOMLPpdHIBcZGWDOjmT7pe3qJe87CNzAkoa07eOvGkmI4d_LHSeV3i_N-yDzqVJDgFHzCYkmSH2mKVUSenssnIvK7GhnkjzSsdyugcWdCtFPTa4PSZntsVniuAJUsJs4ZZMmFj76XmBeW4QG2wcQgdQfis2zJB3vLXm0a-vpQL-VZG8DH_QLnXGpz2w5th7UNsmO4NoYIgMrA0fQPhyuwk7dlE-Dbz3EjY_TG1ArcfXqbanLRIb3Eg/p.jpeg"  style="width:50px;border-radius: 60%;height: 40px;">
        
      
 


    </div>



  </div>
</nav>






<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header" id="sidenavhead">
    <strong class="offcanvas-title" id="offcanvasExampleLabel" style="font-size:34px ;letter-spacing: 2px;">ACME</strong>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body" id="sidenav">
    <li class="my-2"><i class="bi bi-house mx-3 " id="icon"></i><a class="text-light" href="#"> Home</a></li>
    <li class="my-2"><i class="bi bi-file-bar-graph mx-3" id="icon"></i><a class="text-light" href="#">Dashboard</a></li>
    <li class="my-2"><i class="bi bi-inbox-fill mx-3" id="icon"></i><a class="text-light" href="#">inbox</a></li>
    <li class="my-2"><i class="bi bi-justify mx-3 " id="icon"></i><a class="text-light" href="#">Products</a></li>
    <li class="my-2"><i class="bi bi-gear-fill mx-3" id="icon"></i><a class="text-light" href="#">admin</a></li>
  </div>

</div>


<app-admin></app-admin>