<div class="row">
  <div class="col-lg-3">

    <div class="container-fluid p-5 bg-light" id="container-1" style="width: 100%;">
   
      <div class="card" style="border-radius:10px;">
          <div class="card-body text-center">
              <div> <img src="https://uc535bc8523b7c62fffb55c77084.previews.dropboxusercontent.com/p/thumb/ABukbezTxd3miqKrLVp-3lDNPxV2yXiGc3dysvep3UHJdAjPAFL1avNlqDwCBIkCxYMvwnBsqB0f2RyPmrHFizPQDlgXlwKFScSaSZIQqPuLyJzDJe6tUZAHCcLq_yp6FN6Yv2F7REwGf35DwKNZykoO2olzReGZ7eRue-FBZvop3JwPwRNrEbCFWf0oowvhMlIroXBrXMfR_YJknfiHyCu0WwseQH9WcP6NRgRsvBSNbrz4VmVdPvyAJtdAFBMazkl_TtD2X6-56CULPddkwux-LAVjzPNpboowutIHZKIrkNSmoRNS4BR7EW2NZCoS-tsqdrDBZsNgXQYH9ajYftAZXXfLyr6soS-6mXhXvYoTScI0t7TQAU1KtbNy0-QF0I4/p.jpeg" alt="Avatar" style="width:100px;border-radius: 50%;height: 100px;"></div>
            <h5 class="card-title mt-2" style="font-family: Arial, Helvetica, sans-serif;">Nick Herasimenka</h5>
            <h6 class="card-subtitle  text-muted">United States</h6>
            <div class="d-flex justify-content-center mt-4 border-bottom">
              <strong class="mx-2"><i class="bi bi-twitter"></i></strong>
            <strong class="mx-2"><i class="bi bi-facebook"></i></strong>
             <strong class="mx-2"><i class="bi bi-linkedin"></i></strong>
             <strong class="mx-2"><i class="bi bi-whatsapp"></i></strong>
             <br><br><br>
          
            </div>
          
          </div>
         
  
  
         </div>
  
            
      
          
    
  
  
  
      </div>
  
     
       
  
      



  </div>


  <div class="col-lg-3">

    <div class="container-sm p-5">
 
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Sales Distribution</h5>
         
          <div class="card-text p-5 mx-5">
            <canvas baseChart
           [type]="'pie'"
           [datasets]="pieChartDatasets"
           [labels]="pieChartLabels"
           [options]="pieChartOptions"
           [plugins]="pieChartPlugins"
           [legend]="pieChartLegend">
            </canvas>
          </div>
    
        </div>
    
      </div>
         
  </div>


  <div class="col-lg-3">
 
          
<div class="container p-5">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Statistics</h5>
     
      <div class="card-text p-5 mx-5">
        <div style="display: block;">
          <canvas baseChart width="400" height="400"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
          </canvas>
        </div>
  
      </div>

    </div>
  </div>

</div>




  </div>


   <div class="col">
    
<div class="card p-5" style="width: auto">
  <div class="card-body">
    <h5 class="card-title">Referrer</h5>
   

    <table class="table ">
      <thead class="p-4">
        <tr>
          <th scope="col">Location</th>
          <th scope="col">Views</th>
          <th scope="col">Sales</th>
          <th scope="col">Conversion</th>
          <th scope="col">Total</th>

        </tr>
      </thead>
      <tbody>
        <tr class="p-5">
         
          <td>google.com</td>
          <td>3746</td>
          <td>752</td>
          <td>43%</td>
          <td>$19,291</td>
         
        </tr>
        <tr>
         
          <td>facebook.com</td>
          <td>8126</td>
          <td>728</td>
          <td>32%</td>
          <td>$17,638</td>
         
        </tr>
        <tr>
          <td>twitter.com</td>
          <td>8836</td>
          <td>694</td>
          <td>28%</td>
          <td>$16,218</td>
        </tr>

        <tr>
          <td>Direct, email, IM</td>
          <td>1173</td>
          <td>645</td>
          <td>24%</td>
          <td>$14,421</td>
        </tr>

        <tr>
          <td>linkedin.com</td>
          <td>2739</td>
          <td>539</td>
          <td>20%</td>
          <td>$12,370</td>
        </tr>

        <tr>
          <td>instagram.com</td>
          <td>2739</td>
          <td>539</td>
          <td>20%</td>
          <td>$12,370</td>
        </tr>


      
      </tbody>
    </table>

       
  </div>
</div>

   </div>



   <div class="col">
    
<div class="card p-5 mt-5">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
     <div>
       
      
<video width="400" controls>
  <source src="https://youtu.be/Oy6hk6Y7VHQ" type="video">
  <source src="https://youtu.be/Oy6hk6Y7VHQ" type="video/ogg">
  Your browser does not support HTML video.
</video>

     </div>
  </div>
</div>

   </div>

</div>



 









